.Home .card_contain .card {
    position: relative;
  border-left: 3px solid rgb(44, 44, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: violet; */
  background-color: white;
  height: 80px;
  width: 70%;
}

.Home .card_contain .card .box {
    position:absolute;
    height: 30px;
    width: 30px;
  /* background-color: aqua; */
  top: -10px;
  right: -10px;
}

.card .cost{
  font-size: 30px;
  font-weight: bold;
}
.card .title{
  /* background-color: aqua; */
  overflow: hidden;
  word-wrap: break-word;
  max-width: 250px;
  max-height: 60%;
  font-size: 20px;
}

@media only screen and (max-width:1000px){
    .Home .card_contain .card {
      width: 90%;
    }
}